@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}


/* Secciones*/

#bienvenido, #sobrenos, #quehacemos, #quienessomos, #contacto {
	padding: 50px !important;
}

#bienvenido {
	padding-left: 30vw !important;
	padding-right: 30vw !important;
}

#sobrenos {
	padding-left: 10vw !important;
	padding-right: 10vw !important;
}

.small-middle-container {
      margin: auto;
      margin-bottom: 4%;
      width: 50%;
}



/* Contacto */
#contacto {
	margin: 5vw;
}

.hr1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.contact-container {
	height: 100vh;
/*	display: flex;*/
	width: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
}

.contact-left {
	flex-direction: column;
	align-items: start;
}

.contact-right {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}


.contact-right-title h2 {
	font-weight: 600;
	color: #0025ff;
	font-size: 40px;
	margin-bottom: 5px;
}

.contact-right-title hr {
	border: none;
	width: 120px;
	height: 5px;
	background-color: #0025ff;
	border-radius: 10px;
	margin-bottom: 20px;
}

.contact-inputs {
	width: 80%;
	height: 50px;
	padding-left: 25px;
	font-weight: 500;
	color: #000;
}

.contact-right textarea {
	height: 140px;
	padding-top: 15px;
}

.contact-inputs:focus {
	border: 2px solid purple;
}

.contact-inputs::placeholder {
	color: #a9a9a9;
}

.contact-right button {
	align-items: center;
	padding-bottom: 15px;
	padding: 15px 30px;
	font-size: 16px;
	color: #fff;
	border: none;
	gap:10px;
	background: linear-gradient(279deg,#0025ff,purple);
	cursor: pointer;
	border-radius: 5px;
}


